*DS_Store*
conftest*
confdefs.h
*.log
Makefile
config.h
*.status
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
autotoolset.spec
misc/buildinstall
misc/makerpm.sh
src/version.pl
src/version.sh
stamp-h*
txtc.sh
lib/lib*.a
*.o
*.elc
src/acconfig/acconfig
src/gpl/gpl
src/mkconfig/mkconfig
src/txtc/mktxtc
*(Autosaved)*
*.cache
*~
autotoolset-*.*.*/*
*.shar.gz
*.tar.gz
*.tar.bz2
lex.yy.c
config.includes
conf*/*.awk
acconfig.h
